---
---

<section class="h-48 w-full overflow-hidden mt-16 absolute top-0">
  <img
    src="/img/bg-account-001_result.webp"
    alt="account background"
    class="top-0 left-0 w-full object-cover"
  />
</section>

<article
  class="z-0 bg-transparent flex flex-col justify-center items-center text-primary dark:text-white w-full mt-40 p-4"
>
  <article class="flex justify-between container">
    <section id="account"></section>

    <section class="flex flex-col gap-4 mt-24">
      <button
        id="btnEditProfil"
        class="bg-gradient-pink px-6 py-1 rounded-full uppercase font-bold text-sm h-7 text-white"
        >EDIT PROFIL</button
      >
      <button
        id="btnUploadImage"
        class="bg-gradient-pink px-6 py-1 rounded-full uppercase font-bold text-sm h-7 text-white"
        >UPLOAD A NEW IMAGE</button
      >
    </section>
  </article>

  <section class="flex mt-8 gap-x-5">
    <button id="btnDisconnect">Disconnect</button>
    <button id="btnDelete">Delete account</button>
  </section>
  <section
    id="counts"
    class="flex justify-center items-center gap-x-3 mt-4 cursor-pointer"
  >
  </section>
</article>
<hr class="bg-pink-500 w-full mb-3 h-[2px]" />

<script>
  import { API_URL, IMAGES_URL } from "src/consts";
  import { Avatar, User } from "../assets/types/userObject";

  class Account {
    private user: User;
    private readonly accountEl: HTMLElement;
    private readonly countsEl: HTMLElement;
    private readonly btnDisconnect: HTMLButtonElement;
    private readonly btnDelete: HTMLButtonElement;
    private readonly btnEditProfil: HTMLButtonElement;
    private readonly btnUploadImage: HTMLButtonElement;

    constructor() {
      this.user = {
        id: 0,
        username: "",
        email: "",
        provider: "",
        confirmed: false,
        blocked: true,
        createdAt: "",
        updatedAt: "",
        avatar: {} as Avatar,
      };
      this.accountEl = document.getElementById("account") as HTMLElement;
      this.countsEl = document.getElementById("counts") as HTMLElement;
      this.btnDelete = document.getElementById(
        "btnDelete"
      ) as HTMLButtonElement;
      this.btnDisconnect = document.getElementById(
        "btnDisconnect"
      ) as HTMLButtonElement;
      this.btnUploadImage = document.getElementById(
        "btnUploadImage"
      ) as HTMLButtonElement;
    }
    public async init(): Promise<void> {
      this.user = await this.getUser();
      if (this.user.confirmed) {
        this.saveUser(this.user);
        this.displayAccount();
        this.disconnect();
        this.eventListeners();
        this.deleteAccount();
        this.editProfil();
        this.displayCounts();
      }
      // console.log(this.user);
    }

    public eventListeners() {
      // console.log("this.btnUploadImage", this.btnUploadImage);
      this.btnUploadImage.addEventListener("click", () => {
        // window.location.href = "/upload";
        openDialogId("uploadImage");
      });
    }

    public deleteAccount() {
      this.btnDelete.addEventListener("click", () => {
        alert("Not implemented yet");
      });
    }

    public editProfil() {
      if (this.btnEditProfil) {
        this.btnEditProfil.addEventListener("click", () => {
          // window.location.href = "/edit-profil";
          alert("Not implemented yet");
        });
      }
    }

    public disconnect() {
      // console.log(this.btnDisconnect);
      this.btnDisconnect.addEventListener("click", () => {
        localStorage.removeItem("user");
        localStorage.removeItem("jwt");
        window.location.href = "/";
      });
    }

    private saveUser(user: User) {
      localStorage.setItem("user", JSON.stringify(user));
    }

    private displayAccount() {
      const user = this.user;
      const html = `
        <div class="flex items-center gap-5 text-primary dark:text-white">
          <img src="${user.avatar?.formats.thumbnail.url}" alt="${user.username}" class="rounded-full h-40 w-40 radius"/>
          <section>
            <p class="fontblack text-xl">${user.username}</p>
          </section>
        </div>
      `;
      this.accountEl.innerHTML = html;
    }

    private displayCounts() {
      const html = `
          <div class="active text-pink-500 text-bold">35 prompts</div>
          <div class="text-gray">35 private prompts</div>
          <div class="text-gray">67 favorites</div>
          <div class="text-gray">32 likes</div>
          <div class="text-gray">32 people liked your images</div>
      `;
      // console.log("html", html);
      this.countsEl.innerHTML = html;
    }

    private getUser(): User | PromiseLike<User> {
      const userLocalStorage = localStorage.getItem("user");
      const jwtLocalStorage = localStorage.getItem("jwt");
      if (!userLocalStorage && !jwtLocalStorage) {
        throw new Error("No user in local storage");
      } else {
        // return JSON.parse(userLocalStorage);
        const headers = {
          "Content-Type": "application/json",
          Authorization: `Bearer ${jwtLocalStorage}`,
        };
        return fetch(
          `${API_URL}/users/me?populate[avatar][fields][0]=formats`,
          {
            headers,
          }
        )
          .then((response) => response.json())
          .then((data) => data);
      }
    }
  }

  const account = new Account();
  account.init();
</script>

<script>
  import { Gallery } from "@classes/gallery";
  import { User } from "@classes/user";

  export const user = new User();
  const userId = user.getUserId();

  export const loader = new Gallery(undefined, userId);
  loader.init();
</script>
