---
export interface Props {
  title?: string;
  id: string;
  buttonLabel?: string;
}

const { title, id, buttonLabel } = Astro.props;
---


  <button data-id={id} onclick="openDialog(event)" style={buttonLabel? ' ':'display:none'}>{buttonLabel}</button>

  <dialog id={id} >
    <button type="button" data-id={id}  onclick="closeDialog(event)" class="absolute top-2 right-2"
      >X</button
    >
    <h3 class="mb-2">{title}</h3>
    <slot />
  </dialog>


<script is:inline>

  function closeDialog(event) {
    const id = event.target.dataset.id;
    const dialog = document.getElementById(id);
    if (dialog && id) {
      dialog.close();
    } else {
      console.error("dialog component Error, no id or no dialog");
    }
  }

  function openDialog(event) {
    const id = event.target.dataset.id;
    const dialog = document.getElementById(id);
    if (dialog && id) {
      dialog.showModal();
    } else {
      console.error("dialog component Error, no id or no dialog");
    }
  }

  function openDialogId(id) {
    const dialog = document.getElementById(id);
    if (dialog && id) {
      dialog.showModal();
    } else {
      console.error("dialog component Error, no id or no dialog");
    }
  }

</script>

<style>
  dialog {
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 3rem;
  }
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }
</style>
